[submodule "fhossyl-app"]
	path = app
	url = https://github.com/fhossyl/fhossyl-app.git
[submodule "mappings"]
	path = src/commonMain/resources/mappings
	url = https://github.com/fhossyl/fhossyl-mappings
